*.o
*.Po
*.log
*.exe
*.hh
*.cc
stamp-h1
aclocal.m4
autom4te.cache/*
compiler/Makefile
compiler/Makefile.in
compiler/p_yacc.output
config.h
config.h.in
config.status
configure
depcomp
install-sh
missing
compile
runtime/Makefile
runtime/Makefile.in
*.a
input/base/gmon.out
input/base/*.c
/gmon.out
